.mt_2{
    margin-top: 2px;
}
.mr_2{
    margin-right: 2px;
}
.mb_2{
    margin-bottom: 2px;
}
.ml_2{
    margin-left: 2px;
}

.mt_4{
    margin-top: 4px;
}
.mr_4{
    margin-right: 4px;
}
.mb_4{
    margin-bottom: 4px;
}
.ml_4{
    margin-left: 4px;
}

.mt_6{
    margin-top: 6px;
}
.mr_6{
    margin-right: 6px;
}
.mb_6{
    margin-bottom: 6px;
}
.ml_6{
    margin-left: 6px;
}

.mt_8{
    margin-top: 8px;
}
.mr_8{
    margin-right: 8px;
}
.mb_8{
    margin-bottom: 8px;
}
.ml_8{
    margin-left: 8px;
}

.mt_12{
    margin-top: 12px;
}
.mr_12{
    margin-right: 12px;
}
.mb_12{
    margin-bottom: 12px;
}
.ml_12{
    margin-left: 12px;
}

.mt_14{
    margin-top: 14px;
}
.mr_14{
    margin-right: 14px;
}
.mb_14{
    margin-bottom: 14px;
}
.ml_14{
    margin-left: 14px;
}

.mt_16{
    margin-top: 16px;
}
.mr_16{
    margin-right: 16px;
}
.mb_16{
    margin-bottom: 16px;
}
.ml_16{
    margin-left: 16px;
}



.pt_16{
    padding-top: 16px;
}
.pr_16{
    padding-right: 16px;
}
.pb_16{
    padding-bottom: 16px;
}
.pl_16{
    padding-left: 16px;
}

.pt_24{
    padding-top: 24px;
}
.pr_24{
    padding-right: 24px;
}
.pb_24{
    padding-bottom: 24px;
}
.pl_24{
    padding-left: 24px;
}

.pl_40{
    padding-left: 40px;
}